@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

.div-section {
    display: flex;
}


/* NAVBAR SECTION */

.navbar {
    background-color: #5a4c2a;
    width: 14%;
    min-height: 100vh;
}

.menu {
    margin: 100px 0;
}

.navbar_item {
    cursor: pointer;
    margin-bottom: 20px;
    padding: 15px 0;
    /* border-left: 8px solid #382800; */
}

.navbar_item:hover {
    background-color: #543d06;
    padding: 15px 0;
    border-radius: 0px 60px 60px 0;
}

.navbar_link {
    color: white;
    text-decoration: none;
    padding: 0 10px;
    font-size: 12px;
}

.navbar_link i {
    background-color: #382800;
    padding: 8px 11px;
    border-radius: 50px;
    font-size: 16px;
}

#active {
    background-color: #4e3700;
    padding: 15px 0;
    border-radius: 0px 60px 60px 0;
    border-left: 8px solid #382800;
}


/* Content */

.content {
    width: 100%;
}

.top {
    background-color: #5a4c2a;
    /* width: 100%; */
    padding-top: 7px;
    display: flex;
    align-items: center;
}

.list-icon {
    color: black;
    background-color: white;
    padding: 8px 10px;
    margin-left: 20px;
    border-radius: 100px;
    cursor: pointer;
    /* font-size: 20px; */
    /* width: 33px; */
}

.logo-div {
    display: inline;
}

#logo {
    cursor: pointer;
    width: 100px;
    background: white;
    padding: 10px 25px;
    border-radius: 50px;
    margin-left: 30px;
}


/* TABLE SECTION */

.add-article-header {
    width: 40%;
    padding: 20px;
    background-color: #F3F6F9;
    margin-top: 50px;
    margin-left: 260px;
}

.content-add-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.add-articles {
    background-color: #5A4C2A;
    padding: 10px 60px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.add-articles:hover {
    background-color: #9e6f0a;
}

.add-article-link {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.recent-user {
    margin-top: 50px;
    margin-left: 260px;
    background-color: #F3F6F9;
    width: 70%;
    padding: 30px;
    margin-bottom: 40px;
}

.recent-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.view-more {
    padding: 10px 30px;
    background-color: #5A4C2A;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.view-more:hover {
    background-color: #9e6f0a;
}

.view-more-link {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.table {
    width: 100%;
    display: table;
}

.table-header {
    display: table-header-group;
    background-color: #EEEEEE;
    font-weight: bold;
}

.table-header-cell {
    display: table-cell;
    padding: 10px;
    text-align: center;
    border-color: 1px solid black;
}

.table-header-cell:nth-child(1) {
    border-top-left-radius: 20px;
}

.table-header-cell:nth-child(5) {
    border-top-right-radius: 20px;
}

.table-body {
    display: table-row-group;
    background-color: #FFFFFF;
    text-align: center;
}

.table-row {
    display: table-row;
}

.table-row-cell {
    display: table-cell;
    padding: 10px;
}

.button-trash {
    background-color: white;
    border: none;
    cursor: pointer;
}

.actions {
    display: flex;
    justify-content: space-evenly;
}

.edit {
    display: flex;
    justify-content: space-around;
    background-color: #5A4C2A;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.edit:hover {
    background-color: #9e6f0a;
}

.edit-text {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.icon-edit {
    color: white;
    text-decoration: none;
}

.icon-trash {
    font-size: 20px;
    color: #5A4C2A;
}

.icon-trash:hover {
    color: #9e6f0a;
}

.no-user {
    color: #f44336;
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    background-color: #F3F6F9;
}


/* button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
} */

.cancelbtn,
.deletebtn {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 80px;
    width: 20%;
}

.cancelbtn,
.deletebtn:hover {
    opacity: 1;
}

.cancelbtn {
    background-color: #ccc;
    color: black;
}

.deletebtn {
    background-color: #f44336;
}

.container {
    padding: 16px;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(90, 76, 42, 0.75);
    padding-top: 50px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 50%;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.p-delete {
    margin-top: 50px;
}