@import url("https://fonts.googleapis.com/css2?family=Neuton&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Neuton", serif;
}

/* NAVBAR SECTION */

.navbar {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #ffffff;
}

.navbar-sticky-color {
    background-color: #5a4c2a;
    /* color: white; */
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    z-index: 1;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

#logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    width: 60px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.navbar_item {
    height: 70px;
}

.navbar_link {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 125px; */
    margin-top: 15px;
    /* margin-right: 20px; */
    padding: 7px 0;
    text-decoration: none;
    transition: all 0.3 ease;
    margin-left: 150px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.navbar_link_sticky {
    color: white;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.navbar_link:hover {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    transition: all 0.8s;
}

.navbar_icon {
    margin-right: 20px;
}

.navbar_link_icon {
    margin-left: 20px;
}

i {
    color: black;
    font-weight: bold;
}

.user {
    font-size: 30px;
}

.wishlist {
    font-size: 25px;
}

/* ARTICLE SECTION */

.article {
    background-color: #5a4c2a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
}

.article_image img {
    width: 670px;
    margin-right: 40px;
}

.fashion {
    font-size: 16px;
}

.paragraph_text {
    font-size: 40px;
    color: #ffffff;
}

.author_name {
    margin: 10px 0;
    color: white;
}

.article_button {
    background-color: #000000;
    padding: 20px 70px;
    cursor: pointer;
    border: none;
    margin-top: 30px;
    color: white;
    position: relative;
}

.article_button a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    z-index: 2;
    font-size: 15px;
}

.article_button a:hover {
    color: white;
}

.article_button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    content: "";
    height: 100%;
    transition: all 0.4s;
    background-color: #efcb73;
    color: white;
}

.article_button:hover::after {
    width: 100%;
    color: white;
}

/* TOP ARTICLES SECTION */

.header_article {
    margin-top: 60px;
    display: flex;
    margin-left: 210px;
    align-items: center;
}

.line_header {
    border: 2px solid #efcb73;
    margin-left: 30px;
    width: 827px;
}

.top_article {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_tutorials {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.tutorials_item img {
    width: 300px;
    height: 208px;
}

.tutorial {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-right: 200px;
}

.tutorials_card {
    padding-left: 40px;
    padding-bottom: 40px;
}

.description {
    width: 323px;
}

.type {
    margin-top: 10px;
    font-size: 12px;
    color: #5a4c2a;
}

.popular_articles {
    width: 350px;
    height: 656px;
    background-color: rgba(90, 76, 42, 0.1);
    padding: 10px;
}

.popular_title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}

.popular_item {
    padding: 20px;
}

.popular_date {
    font-size: 14px;
    color: #5a4c2a;
    margin-bottom: 20px;
}

.popular_description {
    margin-bottom: 20px;
}

.more_articles {
    color: black;
    font-size: 12px;
}

.popular_horizontal {
    width: 302px;
    margin-left: 20px;
}

/* CATEGORIES SECTION */

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0px;
}

.category_container {
    width: 573px;
}

.category_fashion {
    background-color: #c6baaf;
    width: 900px;
    height: 270px;
    padding: 33px 120px;
}

.category_makeup {
    background-color: #fbd5da;
    width: 900px;
    height: 270px;
    padding: 33px 120px;
}

.category_skincare {
    background-color: #fa857c;
    width: 900px;
    height: 270px;
    padding: 33px 120px;
}

.category_grooming {
    background-color: #ffc299;
    width: 900px;
    height: 270px;
    padding: 33px 120px;
}

.category_fashion .category_header {
    font-size: 48px;
    color: #5a4c2a;
    margin-bottom: 10px;
}

.category_makeup .category_header {
    font-size: 48px;
    color: #ce8f9a;
    margin-bottom: 10px;
}

.category_skincare .category_header {
    font-size: 48px;
    color: #b6283e;
    margin-bottom: 10px;
}

.category_grooming .category_header {
    font-size: 48px;
    color: #d56a21;
    margin-bottom: 10px;
}

.category_description {
    font-size: 16px;
    padding: 5px 0;
}

.category_fashion .category_button {
    margin-top: 20px;
    background-color: #5a4c2a;
    padding: 20px 60px;
    border: none;
    cursor: pointer;
    position: relative;
}

.category_makeup .category_button {
    margin-top: 20px;
    background-color: #f6b7c0;
    padding: 20px 60px;
    border: none;
    cursor: pointer;
    position: relative;
}

.category_skincare .category_button {
    margin-top: 20px;
    background-color: #b6283e;
    padding: 20px 60px;
    border: none;
    cursor: pointer;
    position: relative;
}

.category_grooming .category_button {
    margin-top: 20px;
    background-color: #d56a21;
    padding: 20px 60px;
    border: none;
    cursor: pointer;
    position: relative;
}

.category_button a {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    z-index: 2;
}

.category_button a:hover {
    color: #ffffff;
}

.category_fashion .category_button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    content: "";
    height: 100%;
    transition: all 0.4s;
    background-color: #7a6128;
    color: white;
}

.category_fashion .category_button:hover::after {
    width: 100%;
    color: white;
}

.category_makeup .category_button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    content: "";
    height: 100%;
    transition: all 0.4s;
    background-color: #f4657a;
    color: white;
}

.category_makeup .category_button:hover::after {
    width: 100%;
    color: white;
}

.category_skincare .category_button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    content: "";
    height: 100%;
    transition: all 0.4s;
    background-color: #90081c;
    color: white;
}

.category_skincare .category_button:hover::after {
    width: 100%;
    color: white;
}

.category_grooming .category_button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    content: "";
    height: 100%;
    transition: all 0.4s;
    background-color: #c35003;
    color: white;
}

.category_grooming .category_button:hover::after {
    width: 100%;
    color: white;
}

.category_image img {
    width: 655px;
    height: 437px;
}

/* FOOTER SECTION */

.footer_container {
    display: flex;
    justify-content: space-around;
    background-color: #5a4c2a;
    height: 330px;
    padding-top: 50px;
    width: 100%;
}

.footer_logo {
    background-color: #ffffff;
    border-radius: 50px;
    padding-left: 75px;
    margin-bottom: 20px;
}

.logo_footer {
    width: 60px;
}

.first_footer {
    padding-left: 70px;
}

.address {
    font-size: 20px;
    color: white;
    padding: 5px 0;
}

.phone_number {
    font-size: 18px;
    color: white;
    padding: 5px 0;
}

.email {
    font-size: 18px;
    color: white;
    padding: 5px 0;
}

.vl {
    border-left: 2px solid white;
    height: 230px;
    position: absolute;
    left: 28%;
    margin-bottom: 20px;
}

.vl_2 {
    border-left: 2px solid white;
    height: 230px;
    position: absolute;
    left: 70%;
    margin-bottom: 20px;
}

.second_footer {
    display: flex;
    flex-direction: row;
}

.company {
    width: 300px;
}

.menu_list {
    width: 170px;
}

.horizontal_1 {
    width: 60px;
    margin-bottom: 20px;
}

.horizontal_2 {
    width: 30px;
    margin-bottom: 20px;
}

.horizontal_3 {
    width: 60px;
    margin-bottom: 20px;
}

.about {
    font-size: 25px;
    color: white;
}

.menu_items {
    font-size: 25px;
    color: white;
}

.follow {
    font-size: 25px;
    color: white;
}

.company_details {
    font-size: 20px;
    color: white;
    margin-top: 5px;
}

.menu_child {
    font-size: 20px;
    margin-top: 5px;
    color: white;
}

.follow_link {
    font-size: 20px;
}

.follow_link a {
    color: white;
    text-decoration: none;
}

.update {
    font-size: 25px;
    color: white;
}

.horizontal_4 {
    width: 80px;
    margin-bottom: 20px;
}

.update_description {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

.email_address {
    padding: 12px;
    border-radius: 30px;
    margin: 8px 0;
    width: 120%;
    position: relative;
    outline: none;
    border: 1px solid #4e3700;
}

.send {
    position: absolute;
    width: 60px;
    height: 40px;
    color: red;
    display: block;
    cursor: pointer;
    border-top-right-radius: 30px;
    border: 3px solid #5a4c2a;
    border-bottom-right-radius: 30px;
    border: none;
    right: 2%;
    top: 3926px;
    color: white;
}

.send a .mail {
    font-size: 24px;
    color: #5a4c2a;
}

a {
    text-decoration: none;
    color: white;
}
